@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Poppins:wght@200;500&display=swap');

body .top-banner-container {
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Poppins', sans-serif;
}

/* .main-container {
    background-image: linear-gradient(black, rgb(80, 77, 77));
} */

/* top banner starts  */
.top-banner-container {
    background-image: linear-gradient(black, rgb(80, 77, 77));
    /* position: relative; */
    border-radius: 0px;
    /* height: 646px; */
    /* width: 1500px; */
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-grow: 1;
}

/* top banner ends  */

body {
    background-image: linear-gradient(rgb(22, 21, 21), rgb(80, 77, 77));
}

/* players start  */



.blog:hover {
    transform: scale(1.08);
    transition: transform 2s ease;
}

/* players end  */

/* footer starts */
@media screen and (max-width: 576px) {
    .footer-container {
        position: relative;
        top: 200px;
    }

    .list-class {
        font-size: 80%;
        margin-bottom: 25px;
        /* color: rgb(216, 20, 1); */
        font-weight: 500;
        margin-left: 110px;
    }
}

/* footer ends */

.list-class {
    font-size: 80%;
    margin-bottom: 25px;
    /* color: rgb(216, 20, 1); */
    font-weight: 500;
}